Repository mikeyangyo/simple-tasks-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, sync-requirements

.pre-commit-config.yaml:

repos:
- hooks:
  - files: ^.*.py$
    id: end-of-file-fixer
  - files: ^.*.py$
    id: trailing-whitespace
  repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
- hooks:
  - id: yapf
    name: yapf
    entry: yapf
    language: system
    types: [python]
    args: ["-i"]
    require_serial: false
    additional_dependencies: []
  repo: local
- hooks:
  - id: flake8
  repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.0
- hooks:
  - entry: poetry export -f requirements.txt -o requirements.txt
    files: ^(pyproject.toml|poetry.lock)$
    id: sync-requirements
    language: system
    name: Sync requeriments.txt
    pass_filenames: false
  repo: local
- hooks:
  - id: commitizen
    stages:
    - commit-msg
  repo: https://github.com/commitizen-tools/commitizen
  rev: v2.17.0

build(vscode): add vscode launch configuration
  .vscode/launch.json
Due: none

build(pyproject): add module dependencies
  poetry.lock
  pyproject.toml
  requirements.txt
Due: sync-requirements

feat(tasks): add basic routes for task resource
  app.py
  tasks/__init__.py
  tasks/views.py
Due: yapf

build(gitpod): add gitpod configuration
  .gitignore
  .gitpod.Dockerfile
  .gitpod.post_create.sh
  .gitpod.yml
  .python-version
Due: none

feat: add config example file
  configs/__init__.py
  configs/db_config.example.py
Due: yapf

feat(enums): add HttpStatusCode Enum
  utils/__init__.py
  utils/enums.py
Due: yapf

feat(db): add db utils
  utils/db.py
Due: yapf

build(gitignore): add config ignore snippet
  .gitignore
Due: none

feat(app): add error handlers for http status code
  app.py
Due: yapf

feat(tasks): add db integrations to task views
  tasks/views.py
Due: yapf

build(uwsgi): add uwsgi configuration
  poetry.lock
  pyproject.toml
  requirements.txt
  uwsgi.ini
Due: sync-requirements

build(nginx): add nginx configuration
  task_management_system_nginx.conf
Due: none

build(requirements): add crypto denepency for pymysql module
  poetry.lock
  pyproject.toml
  requirements.txt
Due: sync-requirements

build(docker-compose): add docker-compose configuration and modify nginx configuration for uwsgi host
  Dockerfile
  docker-compose.yml
  task_management_system_nginx.conf
Due: none

fix(tasks): fix bug in read json payload, payload validation in update task view, commit connection in delete task view
  tasks/views.py
Due: yapf

build(pytest): add pytest configuration
  app.py
  conftest.py
  poetry.lock
  pyproject.toml
Due: yapf, sync-requirements

test(tasks): add listing task test cases
  tests/__init__.py
  tests/test_listing_task.py
Due: yapf

build(db): add migration files
  migrations/1.20210428.create_table_and_index.sql
  migrations/init.sql
Due: none

build(docker-compose): modify db service definition to init db with sql file
  docker-compose.yml
Due: none

feat: modify read config method
  .gitignore
  app.py
  configs/config.py
  conftest.py
  utils/db.py
Due: yapf

feat(commands): add run migrations command
  app.py
  commands.py
  conftest.py
  migrations/1.20210428.create_table_and_index.sql
Due: yapf

docs(readme): update readme docs
  README.md
Due: none

test(tasks): add test cases for task resource
  tests/test_create_task.py
  tests/test_delete_task.py
  tests/test_listing_task.py
  tests/test_retrieve_task.py
  tests/test_update_task.py
Due: yapf

docs: remove print snippet
  commands.py
Due: yapf

test(tasks): modify listing_tasks caller to pass client argument in
  tests/test_create_task.py
  tests/test_delete_task.py
  tests/test_listing_task.py
  tests/test_retrieve_task.py
  tests/test_update_task.py
Due: yapf

fix(tasks): fix bug that space name will accept in creating and updating task
  tasks/views.py
Due: yapf

test(tasks): modify error in variable reusage in test cases
  tests/test_delete_task.py
  tests/test_retrieve_task.py
  tests/test_update_task.py
Due: yapf

test(tasks): fix test case bug that expect wrong status code in update task
  tests/test_update_task.py
Due: yapf

style(commands): formatting works
  commands.py
Due: yapf

test(tasks): add test case to create task
  tests/test_create_task.py
Due: yapf

test(tasks): add test case to update task
  tests/test_update_task.py
Due: yapf

build(db): modify migration file
  migrations/1.20210428.create_table_and_index.sql
Due: none

build(poetry): add pytest-cov module to generate coverage report
  .coveragerc
  poetry.lock
  pyproject.toml
Due: sync-requirements

test(tasks): add test cases for tasks resource to test internal error
  tests/test_create_task.py
  tests/test_delete_task.py
  tests/test_listing_task.py
  tests/test_retrieve_task.py
  tests/test_update_task.py
Due: yapf

build(gitpod): modify gitpod configuration
  .gitpod.Dockerfile
  .gitpod.post_create.sh
  .gitpod.yml
  configs/db_config.example.py
  migrations/gitpod_init.sql
Due: yapf

build(vscode): modify vscode debug configuration
  .vscode/launch.json
Due: none

Update README.md
  README.md
Due: none
